body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* Header Text */
.container-fluid {
  padding: 2% 2%;
  /* background-color: #fff0f0; */
  background-color: #fff;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  .nav-link {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .nav-link {
    font-size: 2.5rem;
  }
}

/* Welcome paragraph  */
#welcome-paragraph .container-fluid {
  padding: 2% 5%;
  background-color: #fff;
}

.welcome-heading {
  color: #F0A500;
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .welcome-heading {
    font-size: 5rem;
  }
}

.icon-welcome {
  /* color: #4A3933; */
  color: #BD4B4B;
}

.welcome-paragraph {
  padding: 1% 0;
  line-height: 1.5;
  font-size: 2.25rem;
  color: #810000;
}

/* Photo Carousel */
#photos {
  background-color: #fff;
}

.images-van {
  width: 35%;
}

@media (max-width: 1000px) {
  .images-van {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .images-van {
    width: 90%;
  }
}

/* Features of the Campervan */
#features .container-fluid {
  /* background-color: #FFFBDF; */
  background-color: #BD4B4B;
  margin-top: 2%;
  padding: 4% 4%;
}

.feature-heading {
  padding: 3% 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FF3D68;
}

.feature-icons {
  /* color: #ef8172; */
  color: #5EAAA8;
  font-size: 3.5rem;
}

.feature-icons:hover {
  color: #FF3D68;
}

.feature-paragraph {
  padding: 3% 0;
  line-height: 1.5;
  font-size: 2rem;
}

/* Detailed configuration */
#config .container-fluid {
  background-color: #FFF;
}

.config-heading {
  padding: 5% 0 0 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: #810000;
}

/* Booking process */
#booking-process .container-fluid {
  background-color: #F7F3E9;
  padding: 5% 2%;
}

.process-heading {
  margin-top: 1%;
  margin-bottom: 7%;
  font-weight: 500;
  font-size: 2rem;
  color: #810000;
}

.process-icons {
  font-size: 3.5rem;
  color: #810000;
}

.process-icons:hover {
  color: #FF3D68;
}

.process-paragraph {
  padding: 3% 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #5EAAA8;
}

/* Booking calender and request form */
#booking .container-fluid {
  background-color: #FFF;
}

.booking-heading {
  padding: 3% 0 1% 1%;
  font-weight: 500;
  font-size: 1.5rem;
  color: #810000;
}

.booking-message {
  padding: 2% 0;
}

/* Pricing overview */

#prices .container-fluid {
  background-color: #FFF;
}

.price-heading {
  margin-top: 3%;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 2rem;
  color: #810000;
}

.card-margin {
  margin: 1% 0;
}

.card-body-color {
  /* background-color: #FFFBDF; */
  background-color: #fff;
}

/* guidelines */
#guidelines .container-fluid {
  background-color: #F7F3E9;
}

/* Take With */
#takeWith .container-fluid {
  background-color: #FFF;
}

/* Footer */
#footer {
  font-size: 0.75rem;
}

.footer-hr {
  border-style: dotted;
  color: #595260;
}

.icon-footer {
  margin: 10px 15px;
  font-size: 1.75rem;
  color: black;
}

.add-pages {
  color: #595260;
}

.col-lg-4{
  padding: 2% 0;
}

/* Imprint */

#imprint-body {
  text-align: left;
}

.imprint-header {
  padding: 3% 0;
  color: #810000;
}

#imprint-body .container-fluid {
  padding: 3% 10%;
}

/* Data protection */

#data-pro-body {
  text-align: left;
}

.data-pro-header {
  padding: 3% 0;
  color: #810000;
}

#data-pro-body .container-fluid {
  padding: 3% 10%;
}
